In [91]:
import pandas as pd
from fuzzywuzzy import process

In [92]:
df_purchase = pd.read_csv("./purchases2.csv")
df_cash = pd.read_csv("./encashments2.csv")

In [93]:
df_purchase.rename(columns={'Date of\rPurchase': 'Date', 'Name of the Purchaser': 'Entity'}, inplace=True)
df_purchase = df_purchase[df_purchase["Sr No."] != "Sr No."]
df_purchase = df_purchase.reset_index().drop(["index"], axis=1)
df_purchase["Date"] = pd.to_datetime(df_purchase["Date"]).dt.strftime('%Y/%m/%d')
df_purchase["UBN"] = df_purchase["Prefix"] + df_purchase["Bond\rNumber"]
df_purchase["Denominations"] = df_purchase["Denominations"].apply(lambda x: float(x.replace(",", ""))/10000000)
df_purchase

,Sr No.,Reference No (URN),Journal Date,Date,Date of Expiry,Entity,Prefix,Bond\rNumber,Denominations,Issue Branch Code,Issue Teller,Status,UBN
0,1,00001201904120000001166,12/Apr/2019,2019/04/12,26/Apr/2019,A B C INDIA LIMITED,TL,11448,0.10,00001,5899230,Paid,TL11448
1,2,00001201904120000001166,12/Apr/2019,2019/04/12,26/Apr/2019,A B C INDIA LIMITED,TL,11447,0.10,00001,5899230,Paid,TL11447
2,3,00001201904120000001166,12/Apr/2019,2019/04/12,26/Apr/2019,A B C INDIA LIMITED,TL,11441,0.10,00001,5899230,Paid,TL11441
3,4,00001201904120000001166,12/Apr/2019,2019/04/12,26/Apr/2019,A B C INDIA LIMITED,OL,1113,0.01,00001,5899230,Paid,OL1113
4,5,00001201904120000001166,12/Apr/2019,2019/04/12,26/Apr/2019,A B C INDIA LIMITED,OL,1118,0.01,00001,5899230,Paid,OL1118
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18866,18867,00001202401110000003729,11/Jan/2024,2024/01/11,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15695,1.00,00001,5898161,Paid,OC15695
18867,18868,00001202401110000003729,11/Jan/2024,2024/01/11,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15693,1.00,00001,5898161,Paid,OC15693
18868,18869,00001202401110000003729,11/Jan/2024,2024/01/11,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15697,1.00,00001,5898161,Paid,OC15697
18869,18870,00001202401110000003729,11/Jan/2024,2024/01/11,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,17803,1.00,00001,5898161,Paid,OC17803
18870,18871,00001202401110000003729,11/Jan/2024,2024/01/11,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15691,1.00,00001,5898161,Paid,OC15691

In [94]:
df_cash.rename(columns={'Date of\rEncashment': 'Date', 'Name of the Political Party': 'Entity'}, inplace=True)
df_cash = df_cash[df_cash["Sr No."] != "Sr No."]
df_cash = df_cash.reset_index().drop(["index"], axis=1)
df_cash["Date"] = pd.to_datetime(df_cash["Date"]).dt.strftime('%Y/%m/%d')
df_cash["UBN"] = df_cash["Prefix"] + df_cash["Bond\rNumber"]
df_cash["Denominations"] = df_cash["Denominations"].apply(lambda x: float(x.replace(",", ""))/10000000)
df_cash

,Sr No.,Date,Entity,Account no. of\rPolitical Party,Prefix,Bond\rNumber,Denominations,Pay Branch\rCode,Pay Teller,UBN
0,1,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,1.0,00800,2770121,OC775
1,2,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,1.0,00800,2770121,OC3975
2,3,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,1.0,00800,2770121,OC3967
3,4,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,0.1,00800,2770121,TL10418
4,5,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,0.1,00800,2770121,TL126
...,...,...,...,...,...,...,...,...,...,...
20416,20417,2024/01/24,JANASENA PARTY,*******3929,TL,2619,0.1,00847,7620160,TL2619
20417,20418,2024/01/24,JANASENA PARTY,*******3929,TL,2608,0.1,00847,7620160,TL2608
20418,20419,2024/01/24,JANASENA PARTY,*******3929,TL,2633,0.1,00847,7620160,TL2633
20419,20420,2024/01/24,JANASENA PARTY,*******3929,TL,2627,0.1,00847,7620160,TL2627
20420,20421,2024/01/24,JANASENA PARTY,*******3929,TL,2631,0.1,00847,7620160,TL2631

In [95]:
df_main = df_purchase.merge(df_cash, left_on='UBN', right_on='UBN')
df_main.rename(columns={'Date_x': 'Date_Purchase', 'Date_y': 'Date_Cash', 'Entity_x': 'Buyer', 'Entity_y': 'Party', 'Denominations_x': 'Denominations'}, inplace=True)
df_main = df_main[["UBN", "Reference No  (URN)", "Date_Purchase", "Date_Cash", "Buyer", "Party", "Status", "Denominations"]]
df_main

,UBN,Reference No (URN),Date_Purchase,Date_Cash,Buyer,Party,Status,Denominations
0,TL11448,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.10
1,TL11447,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.10
2,TL11441,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.10
3,OL1113,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.01
4,OL1118,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.01
...,...,...,...,...,...,...,...,...
18736,OC15695,00001202401110000003729,2024/01/11,2024/01/23,WESTWELL GASES PRIVATE LIMITED,DRAVIDA MUNNETRA KAZHAGAM (DMK),Paid,1.00
18737,OC15693,00001202401110000003729,2024/01/11,2024/01/23,WESTWELL GASES PRIVATE LIMITED,DRAVIDA MUNNETRA KAZHAGAM (DMK),Paid,1.00
18738,OC15697,00001202401110000003729,2024/01/11,2024/01/23,WESTWELL GASES PRIVATE LIMITED,DRAVIDA MUNNETRA KAZHAGAM (DMK),Paid,1.00
18739,OC17803,00001202401110000003729,2024/01/11,2024/01/23,WESTWELL GASES PRIVATE LIMITED,DRAVIDA MUNNETRA KAZHAGAM (DMK),Paid,1.00
18740,OC15691,00001202401110000003729,2024/01/11,2024/01/23,WESTWELL GASES PRIVATE LIMITED,DRAVIDA MUNNETRA KAZHAGAM (DMK),Paid,1.00

In [96]:
cash_ubns = list(df_cash["UBN"])
not_cashed = df_purchase[~df_purchase["UBN"].isin(cash_ubns)]
not_cashed.rename(columns={'Date': 'Date_Purchase', 'Entity': 'Buyer'}, inplace=True)
not_cashed = not_cashed[["UBN", "Reference No  (URN)", "Date_Purchase", "Buyer", "Status", "Denominations"]]
not_cashed["Date_Cash"] = ""
not_cashed["Party"] = ""
not_cashed

C:\Users\KARNAV\AppData\Local\Temp\ipykernel_16892\2143721582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_cashed.rename(columns={'Date': 'Date_Purchase', 'Entity': 'Buyer'}, inplace=True)

,UBN,Reference No (URN),Date_Purchase,Buyer,Status,Denominations,Date_Cash,Party
443,TL12858,00300201904150000001198,2019/04/15,UTKAL ALUMINA INTERNATIONAL LIMITED,Expired,0.1,,
444,TL12856,00300201904150000001198,2019/04/15,UTKAL ALUMINA INTERNATIONAL LIMITED,Expired,0.1,,
556,TL12928,00300201904160000001220,2019/04/16,KEYSTONE REALTORS PVT LTD,Expired,0.1,,
830,TL11582,00001201904170000001245,2019/04/17,JUPITER MERCANTILES PVT LTD,Expired,0.1,,
831,TL11585,00001201904170000001245,2019/04/17,JUPITER MERCANTILES PVT LTD,Expired,0.1,,
...,...,...,...,...,...,...,...,...
18815,TL10062,01355202401110000003743,2024/01/11,SYLVANUS BUILDERS AND DEVELOPERS LI,Expired,0.1,,
18816,TL10060,01355202401110000003743,2024/01/11,SYLVANUS BUILDERS AND DEVELOPERS LI,Expired,0.1,,
18817,TL10056,01355202401110000003743,2024/01/11,SYLVANUS BUILDERS AND DEVELOPERS LI,Expired,0.1,,
18818,TL10058,01355202401110000003743,2024/01/11,SYLVANUS BUILDERS AND DEVELOPERS LI,Expired,0.1,,
18819,TL10064,01355202401110000003743,2024/01/11,SYLVANUS BUILDERS AND DEVELOPERS LI,Expired,0.1,,

In [97]:
purchase_ubns = list(df_purchase["UBN"])
purchase_missing = df_cash[~df_cash["UBN"].isin(purchase_ubns)]
purchase_missing.rename(columns={'Date': 'Date_Cash', 'Entity': 'Party'}, inplace=True)
purchase_missing = purchase_missing[["UBN", "Date_Cash", "Party", "Denominations"]]
purchase_missing["Status"] = ""
purchase_missing["Reference No  (URN)"] = ""
purchase_missing["Date_Purchase"] = ""
purchase_missing["Buyer"] = ""
purchase_missing

C:\Users\KARNAV\AppData\Local\Temp\ipykernel_16892\2102026504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_missing.rename(columns={'Date': 'Date_Cash', 'Entity': 'Party'}, inplace=True)

,UBN,Date_Cash,Party,Denominations,Status,Reference No (URN),Date_Purchase,Buyer
0,OC775,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1.00,,,,
1,OC3975,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1.00,,,,
2,OC3967,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1.00,,,,
3,TL10418,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,0.10,,,,
4,TL126,2019/04/12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,0.10,,,,
...,...,...,...,...,...,...,...,...
2804,OL168,2019/04/25,BHARATIYA JANATA PARTY,0.01,,,,
2805,OL127,2019/04/25,BHARATIYA JANATA PARTY,0.01,,,,
2853,OL2142,2019/04/25,SHIVSENA,0.01,,,,
2854,OL2144,2019/04/25,SHIVSENA,0.01,,,,
2855,OL2146,2019/04/25,SHIVSENA,0.01,,,,

In [98]:
df_main_full = pd.concat([df_main, purchase_missing, not_cashed])
df_main_full

,UBN,Reference No (URN),Date_Purchase,Date_Cash,Buyer,Party,Status,Denominations
0,TL11448,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.10
1,TL11447,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.10
2,TL11441,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.10
3,OL1113,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.01
4,OL1118,00001201904120000001166,2019/04/12,2019/04/25,A B C INDIA LIMITED,BHARATIYA JANATA PARTY,Paid,0.01
...,...,...,...,...,...,...,...,...
18815,TL10062,01355202401110000003743,2024/01/11,,SYLVANUS BUILDERS AND DEVELOPERS LI,,Expired,0.10
18816,TL10060,01355202401110000003743,2024/01/11,,SYLVANUS BUILDERS AND DEVELOPERS LI,,Expired,0.10
18817,TL10056,01355202401110000003743,2024/01/11,,SYLVANUS BUILDERS AND DEVELOPERS LI,,Expired,0.10
18818,TL10058,01355202401110000003743,2024/01/11,,SYLVANUS BUILDERS AND DEVELOPERS LI,,Expired,0.10
18819,TL10064,01355202401110000003743,2024/01/11,,SYLVANUS BUILDERS AND DEVELOPERS LI,,Expired,0.10

In [99]:
def resolve_similar_names(names):
    resolved_names = []
    seen_names = set()
    for name in names:
        # Check if the name is similar to any name already seen
        similar_name = process.extractOne(name, seen_names)
        if similar_name:
            resolved_names.append(similar_name[0])
        else:
            resolved_names.append(name)
            seen_names.add(name)
    return resolved_names

# Apply the function to resolve similar names
temp_df = df_main.groupby("Buyer").agg({"Denominations": lambda x: x.sum()}).reset_index()
temp_df['Resolved_Buyer'] = resolve_similar_names(temp_df['Buyer'])
temp_df[['Resolved_Buyer', 'Buyer']]

         Resolved_Buyer                               Buyer
0     14 REELS PLUS LLP                   14 REELS PLUS LLP
1     14 REELS PLUS LLP                 A B C INDIA LIMITED
2     14 REELS PLUS LLP                    AAKANKSHA BAHETY
3     14 REELS PLUS LLP                AALAYA CONSTRUCTIONS
4     14 REELS PLUS LLP  AARISH SOLAR POWER PRIVATE LIMITED
...                 ...                                 ...
1292  14 REELS PLUS LLP     YUVAN TRADING   CONSULTANCY LLP
1293  14 REELS PLUS LLP             ZENSAR TECHNOLOGIES LTD
1294  14 REELS PLUS LLP        ZUVAN ENERGY PRIVATE LIMITED
1295  14 REELS PLUS LLP                ZUVAN ENERGY PVT LTD
1296  14 REELS PLUS LLP            ZYDUS HEALTHCARE LIMITED

[1297 rows x 2 columns]

In [100]:
# All bond encashments whose purchases are not recorded in the data
parties_missing = purchase_missing[["Party", "Denominations"]].groupby("Party").sum().sort_values(by=["Denominations"], ascending=False)
parties_missing

                                                    Denominations
Party
BHARATIYA JANATA PARTY                                    466.310
PRESIDENT, ALL INDIA CONGRESS COMMITTEE                    70.771
BHARAT RASHTRA SAMITHI                                     23.550
ALL INDIA TRINAMOOL CONGRESS                               17.010
YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CO...          8.250
TELUGU DESAM PARTY                                          7.300
DRAVIDA MUNNETRA KAZHAGAM (DMK)                             7.000
SHIVSENA                                                    6.930
ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM                    6.050
JANATA DAL ( SECULAR )                                      2.500
NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH              2.500
BIHAR PRADESH JANTA DAL(UNITED)                             2.000
JHARKHAND MUKTI MORCHA                                      1.000
RASHTRIYA JANTA DAL                                         1.000
ADYAKSHA SAMAJVADI PARTY                                    0.840
AAM AADMI PARTY                                             0.200

In [101]:
# All bond encashments
parties_total = df_main[["Party", "Denominations"]].groupby("Party").sum().sort_values(by=["Denominations"], ascending=False)
parties_total

                                                    Denominations
Party
BHARATIYA JANATA PARTY                                  5594.2011
ALL INDIA TRINAMOOL CONGRESS                            1592.5214
PRESIDENT, ALL INDIA CONGRESS COMMITTEE                 1351.0945
BHARAT RASHTRA SAMITHI                                  1191.1599
BIJU JANATA DAL                                          775.5000
DRAVIDA MUNNETRA KAZHAGAM (DMK)                          632.0000
YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CO...       328.7500
TELUGU DESAM PARTY                                       211.5800
SHIVSENA                                                 152.4514
RASHTRIYA JANTA DAL                                       72.5000
AAM AADMI PARTY                                           65.2500
JANATA DAL ( SECULAR )                                    41.0000
SIKKIM KRANTIKARI MORCHA                                  36.5000
NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH            28.5000
JANASENA PARTY                                            21.0000
ADYAKSHA SAMAJVADI PARTY                                  13.2100
JHARKHAND MUKTI MORCHA                                    12.5000
BIHAR PRADESH JANTA DAL(UNITED)                           12.0000
SHIROMANI AKALI DAL                                        7.2600
SIKKIM DEMOCRATIC FRONT                                    5.5000
MAHARASHTRAWADI GOMNTAK PARTY                              0.5500
JAMMU AND KASHMIR NATIONAL CONFERENCE                      0.5000
GOA FORWARD PARTY                                          0.3500

In [102]:
df_main_full.to_csv("./referenced_data.csv", index=False)